{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "standard-with-typescript"
    ],
    "rules": {
      "semi": [2, "always"],
      "@typescript-eslint/semi": [2, "always"]
    },
    "parserOptions": {
      "project": "./tsconfig.json"
    }
  }
  